button{
    border: 1px solid #ccc;
    font-size: large;
    background-color: aquamarine;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus{
    outline: none;
}